.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand{href: '#'}= App.config.site_title
      - if logged_in?
        %ul.nav.pull-right
          %li.dropdown#user_dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = current_user.email
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '#'} My Profile
              %li.divider
              %li
                %a{href: '/user/logout'} Logout
      - else
        %form#login.pull-right.navbar-form{action: '/user/login', method: 'post'}
          %input.input-small{placeholder: 'Email', type: 'text', name: 'email'}
          %input.input-small{placeholder: 'Password', type: 'password', name: 'password'}
          %button.btn.btn-primary{type: 'submit'} Sign In
          %a#register-link.btn{href: '/user/new'} Sign Up
