!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= App.config.site_title
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', :type => "text/javascript"}
    %script{:src => '/js/bootstrap.min.js', :type => 'text/javascript'}
    /[if lt IE 9]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
  %body
    .topbar
      = partial(:topbar)
    .container
      .content
        - flash_messages
        = yield
        %footer
          %p © Gray #{Date.today.year}
