@import url("reset.css");


body {
  background:#ECECEC;
  color:#222;
  font: 12px "Arial", "Lucida Grande", sans-serif;
}

h1 {
  background:#DDD;
  padding:0.8em;
  font-size: 18px;
}

#menu li {
  font-size:14px;
}
