# I recommend generating this by running the following in IRB:
# require 'securerandom'
# SecureRandom.hex(64) # => random_string
session_secret: random_string
site_title: My App

database:
  test:
    sessions:
      default:
        database: my_app_test
        hosts:
          - localhost:27017

  development:
    sessions:
      default:
        database: my_app_development
        hosts:
          - localhost:27017
    options:
      identity_map_enabled: true

  production:
    sessions:
      default:
        database: my_app_production
        hosts:
          - localhost:27017
    options:
      identity_map_enabled: true
